<nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-gradient border-bottom border-light">
    <a class="navbar-brand" routerLink="home">
      <img alt="Congo" src="assets\congo-logo.png" width="80px" height="60px" />
    </a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav ">
        <a class="nav-item nav-link" routerLink="profile">Profile</a>
        <a class="nav-item nav-link" href="#">Logout</a>
        <a class="nav-item nav-link" routerLink="login">Login</a>
        <a class="nav-item nav-link" routerLink="register">Register</a>
      </div>
    </div>
  </nav>
